@media (max-width: 768px) {
    @font-face {
        font-family: "Gotham";
        src: url("Font/GothamMedium.ttf");
    }

    * {
        font-family: "Gotham";
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --primary-color: #ffffff;
        --secondary-color: #212529;
        --btnColor: linear-gradient(
            240deg,
            #1cff17 1.65%,
            #05e700 97.92%,
            #05e700 100%
        );
    }

    /* navbar */

    #navHome {
        z-index: 99;
    }

    #navHome .navbar-collapse {
        background-color: var(--secondary-color);
        opacity: 0.8;
        padding-left: 15px;
    }

    #navHome img {
        width: 20%;
        padding: 5px;
    }

    #navHome a {
        color: white;
        position: relative;
        text-decoration: none;
        margin-right: 20px;
    }

    #navHome a::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 4px;
        border-radius: 4px;
        background-color: white;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    #navHome a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    #navArtikel {
        z-index: 99;
        background-color: var(--secondary-color);
    }

    #navArtikel img {
        width: 20%;
    }

    #navArtikel a {
        color: white;
        position: relative;
        text-decoration: none;
        margin-right: 20px;
    }

    #navArtikel a::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 4px;
        border-radius: 4px;
        background-color: white;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    #navArtikel a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    /* swiper */

    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Banner */

    #banner {
        background-color: var(--secondary-color);
        z-index: 99;
        opacity: 1;
    }

    #banner .img-banner {
        height: 70vh;
        z-index: -1;
        opacity: 0.2;
        width: 100%;
    }

    #banner .banner-caption {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 12px;
        text-align: center;
    }

    #banner .banner-caption img {
        text-align: center;
        margin: 0px auto;
        width: 350px;
        padding: 0 50px;
    }

    /* artikel */

    #artikel {
        margin-top: 10vh;
    }

    #artikel .swiper {
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #artikel .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    #artikel .thumbSwiper2 {
        height: 40vh;
        width: 100%;
    }

    #artikel .galeriSwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    #artikel .galeriSwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    #artikel .galeriSwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    #artikel .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #artikel .caption-swiper {
        position: absolute;
        margin: -120px 20px 0px;
        color: white;
        font-size: 12px;
    }

    #artikel .swiper-button-next,
    #artikel .swiper-button-prev,
    #artikel .web-caption {
        display: none;
    }

    /* testimoni */

    #testimoni {
        margin-top: 15vh;
        width: 100%;
        height: auto;
        background-color: var(--secondary-color);
        color: white;
    }

    #testimoni #carouselExampleIndicators {
        height: 100%;
    }

    #testimoni h3 {
        font-weight: bolder;
        margin-top: -7vh;
        margin-bottom: 2vh;
    }

    #testimoni .carousel-left {
        margin: 3vh 2vw 4vh 2vw;
    }

    #testimoni .carousel-right {
        margin: 3vh 1vw 4vh 2vw;
    }

    #testimoni .carousel-left img {
        width: 120%;
        filter: drop-shadow(0px 10px 3px black);
    }

    #testimoni h6 {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 3vh;
    }

    #testimoni .umur {
        font-size: small;
    }

    #testimoni .text-caption {
        font-style: italic;
        text-align: justify;
        font-size: 12px;
    }

    #testimoni hr {
        margin: 4px 0;
        width: 100%;
    }

    /* Galeri */

    #galeri {
        margin-top: -5vh;
    }

    #galeri h3 {
        text-align: center;
    }

    #galeri .img-galeri {
        display: inline-block;
        text-align: center;
    }

    #galeri .img-galeri img {
        width: 15vh;
        margin: 5px;
        filter: drop-shadow(0px 1px 3px black);
    }

    #galeri img:hover {
        filter: drop-shadow(0px 5px 3px black);
    }

    #galeri .lightbox {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5em;
        background: rgba(0, 0, 0, 0.8);
    }

    #galeri .lightbox:target {
        display: block;
    }

    #galeri .lightbox-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120%; /* Adjust the width as needed */
        height: 70%; /* Adjust the height as needed */
        margin: 70px auto 70px -25px; /* Center vertically and horizontally */
        background-color: white;
        color: black;
        text-align: center;
        padding: 15px;
    }

    #galeri .lightbox-content span {
        display: block;
        width: 100%;
        height: 100%; /* Adjust the height for the image */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #galeri .lightbox-content li {
        margin-top: 10px; /* Adjust the margin as needed */
        font-size: 12px;
        text-align: left;
    }

    #galeri hr {
        margin-bottom: 2vh;
    }

    /* Paket */

    #paket {
        margin-top: 10vh;
    }

    #paket .roundedpic {
        border-radius: 16px 16px 0 0;
    }

    #paket .roundedcontent {
        border-radius: 0 0 16px 16px;
    }

    #paket .sub-title hr {
        margin-bottom: 5vh;
    }

    #paket h3,
    #galeri h3 {
        font-weight: bold;
    }

    #paket .card,
    .card-header {
        background-color: white;
        border: none;
    }

    #paket .card-header {
        font-weight: bold;
        font-size: 24px;
    }

    #paket a {
        text-decoration: none;
        gap: 5px;
    }

    #paket .cta {
        gap: 5px;
    }

    #paket .card-footer {
        background-color: var(--primary-color);
    }

    #paket .btn-reservasi {
        float: right;
    }

    #paket hr {
        margin: -5px 0px;
        text-align: center;
    }

    #paket ul {
        margin-left: -10px;
    }

    #more,
    #more2,
    #more3,
    #more4 {
        display: none;
    }

    /* Galeri */

    #galeri .row {
        margin: 15px;
    }

    /* Footer */

    #footer {
        background-color: var(--secondary-color);
        padding-top: 5vh;
        margin-bottom: 10px;
        font-size: 14px;
    }

    #footer h5 {
        color: white;
    }

    #footer p {
        color: white;
    }

    #footer .logo-footer {
        padding-left: 15px;
    }

    #footer .logo-footer img {
        width: 100%;
        margin-bottom: 4vh;
    }

    #footer .whatsapp-contact {
        padding-left: 50px;
    }

    #footer .btn-wa {
        background: var(--btnColor);
        padding: 1vh 2vw;
        border-radius: 25px;
        font-size: 14px;
        color: white;
    }

    #footer .btn-wa:hover {
        opacity: 0.8;
    }

    #footer .hubungi-kami {
        padding-left: 25px;
    }

    #footer .hubungi-kami img {
        width: 20px;
        margin-right: 5px;
    }

    #footer .text-in {
        opacity: 0.6;
    }

    #footer a {
        text-decoration: none;
        color: white;
    }

    /* Content */

    #content {
        margin: 5vh 0 10vh;
    }

    #content .title-artikel {
        margin-bottom: 2vh;
    }

    #content .img-artikel {
        width: 100%;
        margin: 2vh 0;
    }

    #content article {
        text-align: justify;
    }

    #content .source-artikel {
        font-size: small;
        font-style: italic;
        margin-bottom: 5vh;
    }

    .service1-web {
        background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.5) 100%
            ),
            url("assets/konseling.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 230px;
    }

    .service2-web {
        background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.5) 100%
            ),
            url("assets/hrdpaket.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 230px;
    }

    .service3-web {
        background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.5) 100%
            ),
            url("assets/tumbuhkembang.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 230px;
    }

    .service4-web {
        background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.5) 0%,
                rgba(0, 0, 0, 0.5) 100%
            ),
            url("assets/properti.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 230px;
    }

    .list-service {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .list-service ul {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 170.588% */
        margin-bottom: 40px;
    }

    .text-tengah {
        margin-top: 90px;
    }

    .cta-hero {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 10px;
        margin-top: -4px;
    }
}
